/* # Page
 * ---------------------------------------------------------------------------------------------------- */

#bodyCell {
  padding: 20px;
}

#templateContainer {
  width:600px;
}

/**
 * @tab Page
 * @section background style
 * @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
 * @theme page
 */
body,
#bodyTable {
  /*@editable*/ background-color: #DEE0E2;
}

/**
 * @tab Page
 * @section background style
 * @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
 * @theme page
 */
#bodyCell {
  /*@editable*/ border-top: 4px solid #BBBBBB;
}

/**
 * @tab Page
 * @section email border
 * @tip Set the border for your email.
 */
#templateContainer {
  /*@editable*/ border: 1px solid #BBBBBB;
}

/**
 * @tab Page
 * @section heading 1
 * @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
 * @style heading 1
 */
h1 {
  /*@editable*/ color: #202020 !important;
  display: block;
  /*@editable*/ font-family: Helvetica;
  /*@editable*/ font-size: 26px;
  /*@editable*/ font-style: normal;
  /*@editable*/ font-weight: bold;
  /*@editable*/ line-height: 100%;
  /*@editable*/ letter-spacing: normal;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /*@editable*/ text-align: left;
}

/**
 * @tab Page
 * @section heading 2
 * @tip Set the styling for all second-level headings in your emails.
 * @style heading 2
 */
h2 {
  /*@editable*/ color: #404040 !important;
  display: block;
  /*@editable*/ font-family: Helvetica;
  /*@editable*/ font-size: 20px;
  /*@editable*/ font-style: normal;
  /*@editable*/ font-weight: bold;
  /*@editable*/ line-height: 100%;
  /*@editable*/ letter-spacing: normal;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /*@editable*/ text-align: left;
}

/**
 * @tab Page
 * @section heading 3
 * @tip Set the styling for all third-level headings in your emails.
 * @style heading 3
 */
h3 {
  /*@editable*/ color: #606060 !important;
  display: block;
  /*@editable*/ font-family: Helvetica;
  /*@editable*/ font-size: 16px;
  /*@editable*/ font-style: italic;
  /*@editable*/ font-weight: normal;
  /*@editable*/ line-height: 100%;
  /*@editable*/ letter-spacing: normal;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /*@editable*/ text-align: left;
}

/**
 * @tab Page
 * @section heading 4
 * @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
 * @style heading 4
 */
h4 {
  /*@editable*/ color: #808080 !important;
  display: block;
  /*@editable*/ font-family: Helvetica;
  /*@editable*/ font-size: 14px;
  /*@editable*/ font-style: italic;
  /*@editable*/ font-weight: normal;
  /*@editable*/ line-height: 100%;
  /*@editable*/ letter-spacing: normal;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /*@editable*/ text-align: left;
}
