/* # Reset
 * ---------------------------------------------------------------------------------------------------- */

body {
  margin: 0;
  padding:0;
}

img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}

table {
  border-collapse: collapse !important;
}

body,
#bodyTable,
#bodyCell {
  height: 100% !important;
  margin: 0;
  padding: 0;
  width: 100% !important;
}
